html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


html {
  font-size: 62.5%;
}

body {
  font: 1.4rem/1.8 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
}

h1 {
  text-indent: 100%;
  overflow:hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: auto 40px;
  background-position: 0 70px;
  padding-top: 70px;
  margin-top: 130px;
}


h2 {
  font-size: 2rem;
  font-style: italic;
  padding-top: 0;
}

h3 {
    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #351011;
    margin-top: 0;
    display: inline; 
 }


.content-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}

a {
  text-decoration: none;
}

/*
.cim {
  width: auto;
  height: 40px;
  padding-top: 70px;
  margin-top: 130px;
  display: block;
}

.kontakt_cim > .cim {
  margin-top:0;
  padding-top:0;
}

.kontakt_cim {
  padding-top: 120px;
  margin-top: -70px;
}
*/

@media screen and (min-width:31.25rem) {

  h1 {
    padding-top: 70px;
    margin-top: 130px;
  }

  .kapcsolat h1 {

  }
  /*
  .cim {
    padding-top: 70px;
    margin-top: 130px;
    display: block;
  }
}
*/
@media screen and (min-width: 42rem) {
  /*
  .cim {
    padding-top: 70px;
    margin-top: -70px;
  }
}
*/
h1 {
  padding-top: 70px;
  margin-top: -70px;
}

@media screen and (min-width: 56.5rem) {

}
