footer {
  background: linear-gradient(to bottom, #311109 0%,#270f0d 30%,#270f0d 100%);
  color: #fff;
  text-align: center;
  height: 200px;
  width: 100%;
  margin-top: 20px;
  padding-top: 50px;
}

.line {
  width: 200px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
}

small {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 5rem;
  color: #f4dcb5;
}
