.termek {
  width: 100%;
}


.info {
  color: #351011;
  vertical-align: middle;



}
h3 {
  display: block;
}

p.info {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

.leiras > div {
  background-color: #fef5e8;
  padding: 20px;
  margin-top: 30px;
}

.rendeles {
  vertical-align: middle;
}

.rendeles span {
  display: inline-block;
  vertical-align: middle;
  font: 1.2rem 'Open-Sans', sans-serif;
  text-transform: uppercase;
  margin-left: 35px;
}

.rendeles span a {
  color: #351011;
  text-decoration: none;
}

.rendeles span a:hover {
  color:#fd3406;
  text-decoration: none;
}

.arrow {
  vertical-align: middle;
  margin-left: 10px;
}




@media screen and (min-width:31.25rem) {

  .termek {
    width: 40%;
    padding-right: 30px;
    float: left;
  }

  .leiras {
    padding-left: 40%;
  }
}

  @media screen and (min-width: 42rem) {



  }

  @media screen and (min-width: 56.5rem) {



  }


  @media screen and (min-width: 62rem) {



  }


  @media screen and (min-width:79rem) {




  }
