.termek {
  width: 100%;
}


.info {
  color: #351011;
}



@media screen and (min-width:31.25rem) {

  .termek {
    width: 50%;
    padding-right: 30px;
    float: left;
  }

  .leiras {
    padding-left: 50%;
  }
}

  @media screen and (min-width: 42rem) {



  }

  @media screen and (min-width: 56.5rem) {



  }


  @media screen and (min-width: 62rem) {



  }


  @media screen and (min-width:79rem) {




  }
