.termek {
  width: 100%;
}


.info {
  color: #351011;
  vertical-align: middle;
}

.egy {
  display: inline-block;
  vertical-align: middle;
}

h3 {
  display: block;
  margin-bottom: 0;
  vertical-align: middle;
}

p.info {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
/*
.leiras > div {
  background-color: #fef5e8;
  padding: 20px;
  margin-top: 30px;
}
*/
.rendeles {

  background-color: #fef5e8;
  padding: 20px;
  margin-top: 30px;
}

.rendeles span {
  display: block;
  vertical-align: middle;
  font: 1.2rem 'Open-Sans', sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
}

.rendeles span a {
  color: #351011;
  text-decoration: none;
}

.rendeles span a:hover {
  color:#fd3406;
  text-decoration: none;
}

.arrow {
  vertical-align: middle;

}

.product {
  margin-top: 20px;
}


@media screen and (min-width:31.25rem) {

  .termek {
    width: 40%;
    padding-right: 30px;
    float: left;
  }


    .leiras {
      padding-left: 40%;
    }



  @media screen and (min-width: 42rem) {




  }

  @media screen and (min-width: 56.5rem) {
    .rendeles span {
      float: right;
    }


  }


  @media screen and (min-width: 62rem) {



  }


  @media screen and (min-width:79rem) {




  }
