html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


html {
  font-size: 62.5%;
}

body {
  font: 1.4rem/1.8 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', arial, sans-serif;
}

header {
  background: #ff9d34;
  margin: 0;
  background-image: url(../images/img_lepkek.png);
  /*background-size: cover;*/
  background-position: center center;
  height: 60vh;
}



nav {
	background-color: rgba(206, 73, 0, 0.6);
  font-family: 'Open Sans';
  text-transform: uppercase;
  text-align: center;
	margin: 0;
  position: fixed; top: 0; left: 0;
  z-index:999;
	width: 100%;
}


header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  font-family: 'Open Sans', Helvetica, Arial;
  border-bottom: 1px solid rgb(206, 73, 0);
  text-decoration: none;
}

header nav li:hover {
  background-color: #333;
}

header a {
   display: block;
   padding: .5em;
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   color: #fff;
 }

 .meheszet {
   background-image: url(../images/meheszet.png);
   background-size: contain;
   background-repeat: no-repeat;
   min-height: 40vh;
   background-color: #f5f6f8;
   padding-top: 40px;
 }


 @media screen and (min-width:31.25rem) {


   header nav ul {
     display: flex;
     max-width: 1000px;
     justify-content: center;
     align-self: flex-end;

   }

   nav {
     display: flex;
     height: 70px;
   }




header nav li {
    border-bottom: none;
    line-height: 70px;
}


header a {
  padding: 0 .5em;
}

 .content-wrapper {
   width: 80%;
   margin: 0 auto;
 }

 .header {
   width: 80%;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
 }

.logo {
   align-self: center;
 }


 .meheszet {
   background-image: url(../images/meheszet.png);
   background-size: contain;
   background-repeat: no-repeat;
   min-height: 40vh;
   background-color: #f5f6f8;
   padding: 40px;
 }

 .meheszet div {
   max-width: 70%;
   float:right;
 }

 .mezek {
   background-image: url(../images/mezek_background.jpg);
   /*background-size: cover;*/
   background-position: right;
   background-repeat: no-repeat;
 }
