html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.header {
  background: #ff9d34;
  background-image: url(../images/img_lepkek.png);
  background-size: cover;
  background-position: center center;
  height: 500px;
  xxxheight: 100vh;
  font-family: 'Open Sans' Helvetica, Arial;
}

html {
  font-size: 62.5%;
}
body {
  font: 1.6rem/1.4 'Libre Baskerville', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', arial, sans-serif;
}

header h1 {
  text-align: center;
  margin: 0;
}

header ul {
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 0;
  margin: 0;
  border-top: 1px;
}

header li {
  border-bottom: 2px solid #fff;

}
